// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree file for NXP LS1088A RDB Board.
 *
 * Copyright 2017-2020 NXP
 *
 * Harninder Rai <harninder.rai@nxp.com>
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/phy/phy.h>

#include "fsl-ls1088a.dtsi"

/ {
	model = "LS1088A RDB Board";
	compatible = "fsl,ls1088a-rdb", "fsl,ls1088a";

	clocks {
		clk_100mhz: clock-100mhz {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <100000000>;
		};

		clk_156mhz: clock-156mhz {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <156250000>;
		};
	};

	sfp_slot: sfp {
		compatible = "sff,sfp";
		i2c-bus = <&sfp_i2c>;
		los-gpios = <&los_stat 5 GPIO_ACTIVE_HIGH>;
		tx-fault-gpios = <&los_stat 4 GPIO_ACTIVE_HIGH>;
		tx-disable-gpios = <&brdcfg9 4 GPIO_ACTIVE_HIGH>;
	};
};

&serdes1 {
	clocks = <&clk_100mhz>, <&clk_156mhz>;
	clock-names = "ref0", "ref1";
	fsl,unused-lanes-reserved;
	status = "okay";

	/*
	 * XXX: Lane A uses pins SD1_RX3_P/N! That is, the lane numbers and pin
	 * numbers are _reversed_.
	 */
	serdes1_A: phy@0 {
		#phy-cells = <0>;
		reg = <0>;

		/* QSGb */
		qsgmii-0 {
			fsl,pccr = <0x9>;
			fsl,index = <0>;
			fsl,cfg = <0x1>;
			fsl,type = <PHY_TYPE_QSGMII>;
		};
	};

	serdes1_B: phy@1 {
		#phy-cells = <0>;
		reg = <1>;

		/* QSGa */
		qsgmii-1 {
			fsl,pccr = <0x9>;
			fsl,index = <1>;
			fsl,cfg = <0x1>;
			fsl,type = <PHY_TYPE_QSGMII>;
		};
	};

	serdes1_C: phy@2 {
		#phy-cells = <0>;
		reg = <2>;

		/* SG1 */
		sgmii-2 {
			fsl,pccr = <0x8>;
			fsl,index = <2>;
			fsl,cfg = <0x1>;
			fsl,type = <PHY_TYPE_2500BASEX>;
		};

		/*
		 * XFI1
		 * Table 23-1 and section 23.5.16.4 disagree; this reflects the
		 * table.
		 *
		 * fsl,cfg is documented as 1, but it is set to 2 by the RCW!
		 * This is the same as the LS1046A.
		 */
		xfi-0 {
			fsl,pccr = <0xb>;
			fsl,index = <0>;
			fsl,cfg = <0x2>;
			fsl,type = <PHY_TYPE_10GBASER>;
		};
	};

	serdes1_D: phy@3 {
		#phy-cells = <0>;
		reg = <3>;

		/* SG2 */
		sgmii-3 {
			fsl,pccr = <0x8>;
			fsl,index = <3>;
			fsl,cfg = <0x1>;
			fsl,type = <PHY_TYPE_2500BASEX>;
		};

		/* XFI2 */
		xfi-1 {
			fsl,pccr = <0xb>;
			fsl,index = <1>;
			fsl,cfg = <0x1>;
			fsl,type = <PHY_TYPE_10GBASER>;
		};
	};
};

&dpmac1 {
	managed = "in-band-status";
	pcs-handle = <&pcs1>;
	phys = <&serdes1_C>;
	sfp = <&sfp_slot>;
};

&dpmac2 {
	phy-handle = <&mdio2_aquantia_phy>;
	phy-connection-type = "10gbase-r";
	managed = "in-band-status";
	pcs-handle = <&pcs2>;
	phys = <&serdes1_D>;
};

&dpmac3 {
	phy-handle = <&mdio1_phy5>;
	phy-connection-type = "qsgmii";
	managed = "in-band-status";
	pcs-handle = <&pcs3_0>;
	phys = <&serdes1_A>;
};

&dpmac4 {
	phy-handle = <&mdio1_phy6>;
	phy-connection-type = "qsgmii";
	managed = "in-band-status";
	pcs-handle = <&pcs3_1>;
	phys = <&serdes1_A>;
};

&dpmac5 {
	phy-handle = <&mdio1_phy7>;
	phy-connection-type = "qsgmii";
	managed = "in-band-status";
	pcs-handle = <&pcs3_2>;
	phys = <&serdes1_A>;
};

&dpmac6 {
	phy-handle = <&mdio1_phy8>;
	phy-connection-type = "qsgmii";
	managed = "in-band-status";
	pcs-handle = <&pcs3_3>;
	phys = <&serdes1_A>;
};

&dpmac7 {
	phy-handle = <&mdio1_phy1>;
	phy-connection-type = "qsgmii";
	managed = "in-band-status";
	pcs-handle = <&pcs7_0>;
	phys = <&serdes1_B>;
};

&dpmac8 {
	phy-handle = <&mdio1_phy2>;
	phy-connection-type = "qsgmii";
	managed = "in-band-status";
	pcs-handle = <&pcs7_1>;
	phys = <&serdes1_B>;
};

&dpmac9 {
	phy-handle = <&mdio1_phy3>;
	phy-connection-type = "qsgmii";
	managed = "in-band-status";
	pcs-handle = <&pcs7_2>;
	phys = <&serdes1_B>;
};

&dpmac10 {
	phy-handle = <&mdio1_phy4>;
	phy-connection-type = "qsgmii";
	managed = "in-band-status";
	pcs-handle = <&pcs7_3>;
	phys = <&serdes1_B>;
};

&emdio1 {
	status = "okay";

	mdio1_phy5: ethernet-phy@c {
		interrupts-extended = <&extirq 1 IRQ_TYPE_LEVEL_LOW>;
		reg = <0xc>;
	};

	mdio1_phy6: ethernet-phy@d {
		interrupts-extended = <&extirq 1 IRQ_TYPE_LEVEL_LOW>;
		reg = <0xd>;
	};

	mdio1_phy7: ethernet-phy@e {
		interrupts-extended = <&extirq 1 IRQ_TYPE_LEVEL_LOW>;
		reg = <0xe>;
	};

	mdio1_phy8: ethernet-phy@f {
		interrupts-extended = <&extirq 1 IRQ_TYPE_LEVEL_LOW>;
		reg = <0xf>;
	};

	mdio1_phy1: ethernet-phy@1c {
		interrupts-extended = <&extirq 1 IRQ_TYPE_LEVEL_LOW>;
		reg = <0x1c>;
	};

	mdio1_phy2: ethernet-phy@1d {
		interrupts-extended = <&extirq 1 IRQ_TYPE_LEVEL_LOW>;
		reg = <0x1d>;
	};

	mdio1_phy3: ethernet-phy@1e {
		interrupts-extended = <&extirq 1 IRQ_TYPE_LEVEL_LOW>;
		reg = <0x1e>;
	};

	mdio1_phy4: ethernet-phy@1f {
		interrupts-extended = <&extirq 1 IRQ_TYPE_LEVEL_LOW>;
		reg = <0x1f>;
	};
};

&emdio2 {
	status = "okay";

	mdio2_aquantia_phy: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <0x0>;
	};
};

&i2c0 {
	status = "okay";

	i2c-switch@77 {
		compatible = "nxp,pca9547";
		reg = <0x77>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x2>;

			ina220@40 {
				compatible = "ti,ina220";
				reg = <0x40>;
				shunt-resistor = <1000>;
			};
		};

		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x3>;

			temp-sensor@4c {
				compatible = "adi,adt7461a";
				reg = <0x4c>;
			};

			rtc@51 {
				compatible = "nxp,pcf2129";
				reg = <0x51>;
				/* IRQ_RTC_B -> IRQ0_B(CPLD) -> IRQ00(CPU), active low */
				interrupts-extended = <&extirq 0 IRQ_TYPE_LEVEL_LOW>;
			};
		};

		sfp_i2c: i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x6>;
		};
	};
};

&ifc {
	ranges = <0 0 0x5 0x30000000 0x00010000
		  2 0 0x5 0x20000000 0x00010000>;
	status = "okay";

	nand@0,0 {
		compatible = "fsl,ifc-nand";
		reg = <0x0 0x0 0x10000>;
	};

	fpga: board-control@2,0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "fsl,ls1088ardb-fpga", "fsl,fpga-qixis",
			     "simple-bus";
		reg = <0x2 0x0 0x0000100>;
		ranges = <0x0 0x2 0x0 0x0000100>;

		los_stat: gpio-controller@1d {
			#gpio-cells = <2>;
			compatible = "fsl,fpga-qixis-los-stat",
				     "ni,169445-nand-gpio";
			reg = <0x1d 0x1>;
			reg-names = "dat";
			no-output;
		};

		brdcfg9: gpio-controller@59 {
			#gpio-cells = <2>;
			compatible = "fsl,fpga-qixis-brdcfg9",
				     "ni,169445-nand-gpio";
			reg = <0x59 0x1>;
			reg-names = "dat";
		};
	};
};

&duart0 {
	status = "okay";
};

&duart1 {
	status = "okay";
};

&esdhc {
	mmc-hs200-1_8v;
	status = "okay";
};

&pcs_mdio1 {
	status = "okay";
};

&pcs_mdio2 {
	status = "okay";
};

&pcs_mdio3 {
	status = "okay";
};

&pcs_mdio7 {
	status = "okay";
};

&qspi {
	status = "okay";

	s25fs512s0: flash@0 {
		compatible = "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <50000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
		reg = <0>;
	};

	s25fs512s1: flash@1 {
		compatible = "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <50000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
		reg = <1>;
	};
};

&sata {
	status = "okay";
};

&usb0 {
	status = "okay";
};

&usb1 {
	dr_mode = "otg";
	status = "okay";
};
