# SPDX-License-Identifier: GPL-2.0-only
#
# PCS Layer Configuration
#

menu "PCS device drivers"

config PCS
	bool "PCS subsystem"
	help
	  This provides common helper functions for registering and looking up
	  Physical Coding Sublayer (PCS) devices. PCS devices translate between
	  different interface types. In some use cases, they may either
	  translate between different types of Medium-Independent Interfaces
	  (MIIs), such as translating GMII to SGMII. This allows using a fast
	  serial interface to talk to the phy which translates the MII to the
	  Medium-Dependent Interface. Alternatively, they may translate a MII
	  directly to an MDI, such as translating GMII to 1000Base-X.

config PCS_XPCS
	tristate "Synopsys DesignWare Ethernet XPCS"
	select PHYLINK
	help
	  This module provides a driver and helper functions for Synopsys
	  DesignWare XPCS controllers.

config PCS_LYNX
	tristate "NXP Lynx PCS driver"
	depends on PCS && MDIO_DEVICE
	help
	  This module provides driver support for the PCSs in Lynx 10g and 28g
	  SerDes devices. These devices are present in NXP QorIQ SoCs,
	  including the Layerscape series.

	  If you want to use Ethernet on a QorIQ SoC, say "Y". If compiled as a
	  module, it will be called "pcs-lynx".

config PCS_MTK_LYNXI
	tristate
	select REGMAP
	help
	  This module provides helpers to phylink for managing the LynxI PCS
	  which is part of MediaTek's SoC and Ethernet switch ICs.

config PCS_RZN1_MIIC
	tristate "Renesas RZ/N1 MII converter"
	depends on OF && (ARCH_RZN1 || COMPILE_TEST)
	help
	  This module provides a driver for the MII converter that is available
	  on RZ/N1 SoCs. This PCS converts MII to RMII/RGMII or can be set in
	  pass-through mode for MII.

endmenu
