# SPDX-License-Identifier: GPL-2.0-only

if (ARCH_MXC && ARM64) || COMPILE_TEST

config PHY_FSL_IMX8MQ_USB
	tristate "Freescale i.MX8M USB3 PHY"
	depends on OF && HAS_IOMEM
	select GENERIC_PHY
	default ARCH_MXC && ARM64

config PHY_MIXEL_LVDS_PHY
	tristate "Mixel LVDS PHY support"
	depends on OF
	select GENERIC_PHY
	select REGMAP_MMIO
	help
	  Enable this to add support for the Mixel LVDS PHY as found
	  on NXP's i.MX8qm SoC.

config PHY_MIXEL_MIPI_DPHY
	tristate "Mixel MIPI DSI PHY support"
	depends on OF && HAS_IOMEM
	select GENERIC_PHY
	select GENERIC_PHY_MIPI_DPHY
	select REGMAP_MMIO
	help
	  Enable this to add support for the Mixel DSI PHY as found
	  on NXP's i.MX8 family of SOCs.

config PHY_FSL_IMX8M_PCIE
	tristate "Freescale i.MX8M PCIE PHY"
	depends on OF && HAS_IOMEM
	select GENERIC_PHY
	help
	  Enable this to add support for the PCIE PHY as found on
	  i.MX8M family of SOCs.

endif

config PHY_FSL_LYNX_28G
	tristate "Freescale Layerscape Lynx 28G SerDes PHY support"
	depends on OF
	depends on ARCH_LAYERSCAPE || COMPILE_TEST
	select GENERIC_PHY
	help
	  Enable this to add support for the Lynx SerDes 28G PHY as
	  found on NXP's Layerscape platforms such as LX2160A.
	  Used to change the protocol running on SerDes lanes at runtime.
	  Only useful for a restricted set of Ethernet protocols.

config PHY_FSL_LYNX_10G
	tristate "Freescale QorIQ Lynx 10G SerDes support"
	depends on COMMON_CLK
	depends on ARCH_LAYERSCAPE || PPC || COMPILE_TEST
	select GENERIC_PHY
	select REGMAP_MMIO
	default y if ARCH_LAYERSCAPE
	help
	  This adds support for the Lynx "SerDes" devices found on various QorIQ
	  SoCs. There may be up to four SerDes devices on each SoC, and each
	  device supports up to eight lanes. The SerDes is configured by
	  default by the RCW, but this module is necessary in order to support
	  some modes (such as 2.5G SGMII or 1000BASE-KX), or clock setups (as
	  only as subset of clock configurations are supported by the RCW).
	  The hardware supports a variety of protocols, including Ethernet,
	  SATA, PCIe, and more exotic links such as Interlaken and Aurora. This
	  driver only supports Ethernet, but it will try not to touch lanes
	  configured for other protocols.

	  If you have a QorIQ processor and want to dynamically reconfigure your
	  SerDes, say Y. If this driver is compiled as a module, it will be
	  named phy-fsl-lynx-10g and clk-fsl-lynx-10g.
